{{page-title "Dummy"}}

<div data-test-me-id>
  {{this.model.id}}
</div>

<div data-test-me-first-name>
  {{this.model.firstName}}
</div>

<div data-test-me-last-name>
  {{this.model.lastName}}
</div>

{{outlet}}